<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <link rel="icon" href="http://downloadicons.net/sites/default/files/computer-icon-65917.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="#{root}css/main.css">
</head>
<body>

script.
    window.onerror = function (msg, url, lineNo, columnNo, error) {
      //infoLog = "";
      if(error !== null) {
        if(error.stack != "") {
          //logger.error(error.name + ": ", error.message + "\n" + error.stack);
        } else {
          //logger.error(error.name + ": ", error.message + "\n" + url + ":" + lineNo + ":" + columnNo + "\n");
        }
      } else if(ajv.errors) {
        //logger.error("Request didn\'t return a valid JSON object\n" + JSON.stringify(ajv.errors, null, 2));
      } else {
        //logger.error(msg + ": " + url + ": " + lineNo + ": " + columnNo + "\n");
      }
      return true;
    };

    function assert(condition, message) {
        if (!condition) {
          message = message || "Assertion failed";
          if (typeof Error !== "undefined") {
            throw new Error(message);
          }
          throw message;
        }
    }

    function getMenuItemsUrl() {
        var url = "#{root}menu_items";
        return url;
    }
    
    function getActiveTab() {
        var tab = "#{category}";
        return tab;
    }
    
    function getCategorySearchUrl() {
        var url = "#{root}search?category=";
        return url;
    }

<script src="#{root}js/main_menu.js"></script> 
    
<div id="holder">   
<nav class="navbar" id="navigation_top">
  <div class="container-fluid" style="width: 1150px;">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Computer Store</a>
    </div>
    <form action="#{root}search" method="get" class="navbar-form navbar-left" id="search_form"> 
      <div class="input-group">
        <input type="text" class="form-control" name="search_input" placeholder="Search" id="search_input">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
    if !logged
        <li><a href="#{root}sign_up"><span class="glyphicon glyphicon-user"></span> Регистрация</a></li>
        <li><a href="#{root}login"><span class="glyphicon glyphicon-log-in"></span> Вход</a></li>
    else 
        <li><a href="#"><img class="spinner cart" src="#"><span class="glyphicon glyphicon-shopping-cart" style="float:right;"> Количка</span></br><span id="cart_count_price"></span></a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Моят профил</a></li>
        <li><a href="#{root}log_out"><span class="glyphicon glyphicon-log-in"></span> Изход</a></li>
    </ul>
  </div>    
</nav>  
    
<nav class="navbar" id="navigation_top2">
  <div class="container-fluid" style="width: 1150px;">
    <ul class="nav navbar-nav" id="main_menu">      

      <li class="dropdown" id="components_tab">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="components_dropdown_tab">Компоненти
        <span class="caret"></span></a>
        <ul class="dropdown-menu" id="components_dropdown">

        </ul>
      </li>  
      <li class="dropdown" id="peripheral_tab">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="peripheral_dropdown_tab">Периферия
        <span class="caret"></span></a>
        <ul class="dropdown-menu" id="peripheral_dropdown">
         
        </ul>
      </li>     
      <img class="spinner menu" src="#{root}imgs/spinner.gif">
    </ul>
  </div>
</nav>
