include ./header.pug

<script src="/js/phone_form.js"></script>

script.
    function getCountries() {
        var countries = !{JSON.stringify(countries)};
        return countries;
    }

<div id="body">
<div id="wrap">
<h2 s>Регистрация</h2></br>
if userMessage
    <span style="color:blue;">#{message}</span>
    <br>
    <br>
if errors
    each err in errors
        each val, key in err
            <p style="color:red;">#{val}</p>
<br>
<form action="/sign_up" method="post" class="form-horizontal login_register_form">
        <div class="form-group">
          <label class="col-sm-1 control-label" for="name">Име*:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" value="#{user.name}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="last_name">Фамилия:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="last_name" name="last_name" value="#{user.last_name}">
            <span class="glyphicon glyphicon-remove form-control-feedback" ></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="email">Имейл*:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="email" name="email" value="#{user.email}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="country">Държава:</label>
          <div class="col-sm-8">
<select name="country" id="country" class="form-control">
    <option value="" selected="selected">Choose a Country</option>
each country in countries
    if country.nicename == user.country
        <option value="#{country.nicename}" selected data-id="#{country.phonecode}">#{country.nicename}</option>
    else
        <option value="#{country.nicename}" data-id="#{country.phonecode}">#{country.nicename}</option>

</select>
          </div>
</div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="phone" id="phone_label">Телефон*: </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="phone" name="phone" value="#{user.phone_unformatted}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="region">Регион:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="region" name="region" value="#{user.region}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="address">Адрес:</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="address" name="street_address" value="#{user.street_address}">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="password">Парола*:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="password" name="password">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-1 control-label" for="conf_password">Потвърди парола*:</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="conf_password" name="conf_password">
            <span class="glyphicon glyphicon-remove form-control-feedback"></span>
          </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Пол:</label>

if user.gender == 'Male'
    <label><input type="radio" name="gender" value="Male" checked>Мъж</label>
else
    <label><input type="radio" name="gender" value="Male">Мъж</label>&nbsp;&nbsp;
if user.gender == 'Female'
    <label><input type="radio" name="gender" value="Female" checked>Жена</label>
else
    <label><input type="radio" name="gender" value="Female">Жена</label>
        </div></br>
        </br></br>
        <div class="form-group form_submit">
            <button type="submit" value="Регистрация" id="registrSubmit" name="registrSubmit" class="btn btn-primary form_submit_button register">Регистрация</button>
        </div>
    </form>
</div>
</div>

include ./footer.pug
