include ./header.pug

-var formatter = new Intl.NumberFormat(`en-US`, {
-style: `decimal`,
-maximumFractionDigits: 2,
-minimumFractionDigits: 2
-});

<div id="body">

<h2>Потвърждение на поръчка</h2>

  <div class="vertical-menu">
    <a href="./cart">Количка</a>
    <a href="./orders" class="active">Поръчки</a>
    <a href="./account">Настройки</a>
    <a href="./details">Детайли</a>
  </div>

  <div class="account-info">
    <hr>
    <form action="./orders/create_order/" method="post" class="form-horizontal login_register_form">
    <div class="cart_products order">Плащане чрез: <br>
      <img src="/imgs/#{paymentMethod.image}" class="cart_product_image confirm">#{paymentMethod.name}
      <p class="payment_method_details">#{paymentMethod.details}</p>
      <div style="display:inline-block;">
        <h4>Данни за доставката:</h4>
        <p>Име на получател: #{user.name} #{user.last_name}</p>
        <p>Адрес: #{user.country}, #{user.region}, #{user.street_address}</p>
        <p>Телефон за връзка: #{user.phone_unformatted}</p>
        <p>Имейл за връзка: #{user.email}</p>
      </div>
    </div>
    <div class="cart_products items order"></div>
    <h3 class="user_order_products_title">Продукти: </h3>
each product in products
  <div class="cart_product order">
    <div class="cart_product_image_div order">
      <a href="/products/#{product.id}">
        <img src="/imgs/#{product.image}" onerror="this.src='/imgs/no_image.png';" class="cart_product_image order" style="margin: 5px;">
      </a>
    </div>
    <div class="cart_product_name_div order">
      <p class="cart_product_name order">#{product.name}</p>
    </div>
    <div class="cart_product_price order">
      <p>Цена: #{product.cart_quantity} x #{formatter.format(product.price_leva)} лв. = #{product.price_leva * product.quantity} лв.
      </p>
    </div>
  </div>
<div class="cart_purchase_div">
  <h3 class="inline_h3">Общo: &nbsp;</h3>
  <img class="spinner order_sum" src="/imgs/spinner.gif">
  <h3 class="cart_sum inline_h3"></h3>
  <h3 class="inline_h3"> лв.</h3></br>
</div>
</div>
<div class="form-group form_submit" style="margin-top:50px;">
  <button type="submit" value="Избери" id="confirmSubmit" name="confirmSubmit" class="btn btn-primary form_submit_button register">Потвърди</button>
</div>
</form>
</div>
</div>

include ./footer.pug
